p{
    height: 10px;
    width: 10px;
    padding: 10px;
    background-color: orange;
}

.at{
    margin: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    justify-items: center;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;
    align-content: center;
}